.card-container {
  width: 300px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}

.product-name {
  color: black;
  padding: 5px 0px;
  min-height: 65px;
}

.product-image img {
  width: 270px;
  height: 300px;
  border-radius: 5px;
}

.panic-text {
  color: maroon;
}

.product-text {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.product-text p {
  padding-bottom: 10px;
  color: gray;
}

.amount-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 10px;
}

.amount-text h2 {
  color: black;
  font-weight: 700;
}

.amount-text p {
  color: green;
  font-weight: 600;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.product-buttons button {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: rgba(183, 106, 106, 0.916);
}

/* 
.product-size {
  opacity: 0;
  transition: all 1s ease-in-out;
} 
.product-size:hover {
  opacity: 90;
}

.size-items {
  display: flex;
  gap: 10px;
  text-align: center;
  margin-top: 4px;
  flex-wrap: wrap;
}

.size-items p {
  width: 45px;
  color: black;
  padding: 5px;
  background-color: gray;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
}
   */

@media (max-width: 400px) {
  .card-container {
    width: 185px;
    padding: 6px;
  }

  .product-size {
    opacity: 100;
  }

  .product-name {
    font-size: 12px;
  }

  .product-image img {
    width: 173px;
    height: 200px;
    border-radius: 5px;
  }

  .product-size {
    flex-wrap: wrap;
  }
}

/* 14 pro Specific Design */
@media (max-width: 550px) {
  .card-container {
    width: 205px;
    padding: 4px;
  }

  .product-image img {
    width: 193px;
    height: 200px;
    border-radius: 3px;
  }
}