.custom-cart-heading {
  padding: 1%;
}

.custom-button {
  padding: 1%;
  width: max-content;
}






.cart-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cart-left {
  width: 50%;
}

.cart-right {
  border-radius: 6px;
  min-height: 300px;
  max-height: 600px;
  width: 25%;
  padding: 1%;
  background-color: rgba(199, 194, 194, 0.243);
}

.card-holder {
  width: 95%;
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
}

.subtotal {
  width: 90%;
  position: relative;
  left: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: rgb(17, 17, 47);
  margin: 1% 0%;
  border-radius: 10px;
}

.subtotal button {
  padding: 10px 30px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0;
  color: black;
  border-radius: 4px;
}

button :active {
  box-shadow: 0 0 10px whitesmoke;
}

.subtotal h2 {
  color: aliceblue;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (max-width: 550px) {

  .cart-container {
    flex-direction: column;
  }

  .card-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .subtotal {
    border-radius: 0;
    padding: 2%;
    left: 0;
    width: 100%;
  }

  .subtotal button {
    padding: 10px 15px;
  }

  .subtotal h2 {
    font-size: 18px;
  }

  .cart-left {
    width: 100%;
  }

  .cart-right {
    width: 100%;
    padding: 2%;
    text-align: center;
  }

}

@media (max-width: 390px) {

  .subtotal button {
    padding: 6px 12px;
  }

  .subtotal h2 {
    font-size: 19px;
  }
}

@media (max-width: 350px) {

  .subtotal h2 {
    font-size: 16px;
  }
}