button :active {
  box-shadow: 0 0 10px whitesmoke;
}

@media (max-width: 550px) {

  .cart-container {
    flex-direction: column;
  }

  .card-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .cart-right {
    width: 100%;
    padding: 2%;
    text-align: center;
  }
}