.nav-bar {
  display: flex;
  background-color: #222F3D;
}

.nav-right {
  padding: 0.3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-family: Monaco;
}

.nav-left {
  display: none;
}

@media (max-width: 560px) {
  .nav-left {
    display: flex;
    align-items: center;
    width: 10%;
    padding: 2% 1%;
  }

  .nav-right {
    display: none;
  }
}

.my-nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem
}

.nav-button-text {
  color: aliceblue;
  font-weight: 700;
  font-family: Monaco;
  margin-left: 10px;
}

.my-nav-button span {
  background-color: aliceblue;
  width: 30px;
  height: 5px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 0.5%;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 2px;
}